<p>Un sprint es un periodo de 7 días, iniciando cada Lunes, el cual define el trabajo que cada equipo puede completar.</p>
<% if current_admin_user.employee? %>
<p><strong>Como desarrollador, solo te aparecen tickets asignados a ti.</strong></p>
<% end %>
<p><strong>Tip:</strong> Use los &quot;filtros&quot; de la barra lateral para adaptar los datos que quieres.</p>