<%# image_tag "welcome-message.png", id: "welcome_message" %>
<h1>Imagen de bienvenida</h1>
<h4>¡Bienvenido!</h4>

<h4>Iniciar</h4>
<p>
  Para empezar, explore la navegación en la parte superior de la plataforma. Puedes encontrar
  rapidamente accesos a la información de la empresa en las secciones de <em>Calendario</em> y
  <em>Sprint actual</em>, mientras que la sección de <em>Proyectos</em> puede encontrar información
  más detallada.
</p>

<% if current_admin_user.admin? %>
<h4>Atención administrador</h4>
<p>
  La sección de <em>Administración</em> le permite, como administrador, crear otras cuentas,
  ajustar configuraciones, manejar clientes y muchas cosas más.
</p>
<%end %>

<p><strong><em>Esta página NO se mostrará otra vez, gracias.</em></strong></p>