<p>
  Este calendario te permite buscar facilmente tickets abiertos, filtrando por muchos atributos para crear consultas complejas, para visualizar el flujo de trabajo.
</p>
<% if can?(:create, Ticket) %>
<p><strong>
  Tu puedes arrastrar y soltar (drag and drop) tickets para cambiar la fecha de inicio, o arrastrar desde el borde derecho para cambiar la fecha de fin.
</strong></p>
<% else%>
<p><strong>
  Los tickets mostrados son solo tickets asignados a ti
</strong></p>
<% end %>
<p>Clic a cualquier ticket para ver más información.</p>