<div id="login">
  <h2><%= title "#{active_admin_application.site_title} Inicio" %></h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= active_admin_form_for(resource, :as => resource_name, :url => send(:"#{scope}_session_path"), :html => { :id => "session_new" }) do |f| 
    f.inputs do
      Devise.authentication_keys.each { |key| f.input key }
      f.input :password, :label => "Contraseña"
      f.input :remember_me, :label => "Recordar?", :as => :boolean, :if => false
    end
    f.buttons do
      f.commit_button "Aceptar"
    end
  end
  %>

  <%= render :partial => "active_admin/devise/shared/links" %>
</div>

<% content_for :footer do %>
	<div class="tweets">
		<div>
			<strong class="sprint_app">2013 </strong>
			<span class="tweet"><a class="view-more" href="http://jvidalba.herokuapp.com">URL to web site</a></span>
		</div>
	</div>
<% end %>