<div class="sidebar right">
	<div class="widget contacts">		
		<h2>Información de contacto</h2>
		<ul>
			<li>
				<strong>Correo</strong>
				<p><a href="mailto:jvidal@visionamos.com">jvidal@visionamos.com</a></p>
			</li>
			<li>
				<strong>Localización</strong>
				<p>Medellín - Colombia</p>
			<p><a target="_blank" href="https://www.google.es/maps/preview#!q=Medell%C3%ADn+-+Antioquia%2C+Colombia&data=!4m15!2m14!1m13!1s0x8e4428ef4e52dddb%3A0x722fd6c39270ac72!3m8!1m3!1d3507!2d-75.5768823!3d6.2143538!3m2!1i1292!2i679!4f13.1!4m2!3d6.235925!4d-75.575137"
                  class="link-btn">Ver mapa</a></p>
			</li>
			<li>
				<strong>Otros datos</strong>
				<p>
					<a target="_blank" href="#">1</a><br>
					<a target="_blank" href="#">2</a><br>
					<a target="_blank" href="#">3</a><br>
				</p>
			</li>
		</ul>			
	</div>
</div>