%h3.print Company Roadmap
- if @projects.empty?
	%h5 Por favor añadir un proyecto para usar este reporte
- else
	= render partial: 'project', collection: @projects

%p.print 
	%em See your browser documentation to enable printing CSS background colors and images if you do not see the progress bars in your printout.