%h3.print Company Roadmap
- if @projects.empty?
	%h5 Por favor añadir un proyecto para usar este reporte
- else
	= render partial: 'project', collection: @projects

%p.print 
	%em Consulte la documentación de su navegador para activar la impresión CSS colores de fondo e imágenes si no ve las barras de progreso de la impresión.